<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://qtmalmo.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>qtmalmo.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>qtmalmo</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$qtmalmo</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="QTransportModelContainer" Order="1" Enabled="False">
          <Destination Path="Data Source=votycloudserver.database.windows.net;Initial Catalog=QTransportDB;Persist Security Info=True;User ID=voty;Password=Vo2030ty;Application Name=EntityFramework" Name="Data Source=votycloudserver.database.windows.net;Initial Catalog=QTransportDB;Persist Security Info=True;User ID=voty;Password=Vo2030ty;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="QT.QTransportModelContainer, QT" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)QTransportModelContainer-Web.config Connection String">
      <ParameterValue>metadata=res://*/QTransportModel.csdl|res://*/QTransportModel.ssdl|res://*/QTransportModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=votycloudserver.database.windows.net;Initial Catalog=QTransportDB;Persist Security Info=True;User ID=voty;Password=Vo2030ty;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>